test/wsdl/recursive-schema-import/TestFunctionManagement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.example.com/Schema/TEST_TestFunctionManagement"  xmlns:TEST_TestFunctionManagement="http://www.example.com/Schema/TEST_TestFunctionManagement"  xmlns:TEST_Common="http://www.example.com/Schema/TEST_Common"  xmlns:TEST_AccountingUnit="http://www.example.com/Schema/TEST_AccountingUnit"  xmlns:TEST_Location="http://www.example.com/Schema/TEST_Location"  xmlns:TEST_TestFunction="http://www.example.com/Schema/TEST_TestFunction"  xmlns:TEST_BusinessDirectionItem="http://www.example.com/Schema/TEST_BusinessDirectionItem"  xmlns:TEST_ResourceItem="http://www.example.com/Schema/TEST_ResourceItem"  xmlns:TEST_Channel="http://www.example.com/Schema/TEST_Channel"  xmlns:TEST_Product="http://www.example.com/Schema/TEST_Product"  xmlns:TEST_Event="http://www.example.com/Schema/TEST_Event"  xmlns:TEST_Arrangement="http://www.example.com/Schema/TEST_Arrangement"  xmlns:TEST_Authorization="http://www.example.com/Schema/TEST_Authorization"  xmlns:TEST_Communication="http://www.example.com/Schema/TEST_Communication"  xmlns:TEST="http://www.example.com/Schema/TEST"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified"  attributeFormDefault="unqualified" >
	<xsd:import namespace="http://www.example.com/Schema/TEST_Common" schemaLocation="Common.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_AccountingUnit" schemaLocation="AccountingUnit.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_Location" schemaLocation="Location.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_TestFunction" schemaLocation="TestFunction.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_BusinessDirectionItem" schemaLocation="BusinessDirectionItem.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_ResourceItem" schemaLocation="ResourceItem.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_Channel" schemaLocation="Channel.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_Product" schemaLocation="Product.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_Event" schemaLocation="Event.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_Arrangement" schemaLocation="Arrangement.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_Authorization" schemaLocation="Authorization.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST_Communication" schemaLocation="Communication.xsd"/>
	<xsd:import namespace="http://www.example.com/Schema/TEST" schemaLocation="TEST.xsd" />
	<xsd:simpleType name="TestFunctionManagementEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AAA"/>
			<xsd:enumeration value="BBB"/>
			<xsd:enumeration value="XYZ"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TestFunctionFunctionRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="value" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TestFunctionFunctionResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="value" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TestFunctionFunctionError">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="value" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
