test/wsdl/simpleTypeTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s0="urn:restriction:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:restriction:functions">
  <types>
    <xsd:schema targetNamespace="urn:restriction:functions">
      <xsd:element name="SimpleTypeExample">
        <xsd:complexType>
          <xsd:all>
            <xsd:element type="xsd:string" name="elementWithType"/>
            <xsd:element name="elementWithSimpleType1">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SimpleTypeExample.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="elementWithSimpleType2">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="SimpleTypeExampleInput">
    <part name="parameters" element="s0:SimpleTypeExample"/>
  </message>
  <message name="SimpleTypeExampleOutput">
    <part name="parameters" element="s0:SimpleTypeExample.Response"/>
  </message>
  <portType name="SimpleTypeExamplePortType">
    <operation name="SimpleTypeExample">
      <input message="s0:SimpleTypeExampleInput"/>
      <output message="s0:SimpleTypeExampleOutput"/>
    </operation>
  </portType>
  <binding name="SimpleTypeExampleBinding" type="s0:SimpleTypeExamplePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SimpleTypeExample">
      <soap:operation soapAction="http://www.sap.com/SimpleTypeExample"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SimpleTypeExampleService">
    <documentation>Service SimpleTypeExample via SOAP</documentation>
    <port name="SimpleTypeExamplePortType" binding="s0:SimpleTypeExampleBinding">
      <soap:address location="http://example:8000/endpoint"/>
    </port>
  </service>
</definitions>
