test/request-response-samples/createData__should_generate_complex_type_request/soap.wsdl

<wsdl:definitions targetNamespace="http://3e.pl/ADInterface" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://3e.pl/ADInterface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://3e.pl/ADInterface" xmlns:tns="http://3e.pl/ADInterface" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="DataField">
				<xsd:sequence>
					<xsd:element name="Tab" type="xsd:string"/>
					<xsd:element name="val" type="xsd:string"/>
					<xsd:element name="Description" type="xsd:string"/>
					<xsd:element name="Help" type="xsd:string"/>
					<xsd:element name="ColumnSQL" type="xsd:string"/>
					<xsd:element name="DisplayLogic" type="xsd:string"/>
					<xsd:element name="ReadOnlyLogic" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="column" type="xsd:string"/>
				<xsd:attribute name="IsSelectionColumn" type="xsd:boolean"/>
				<xsd:attribute name="SortNo" type="xsd:int"/>
				<xsd:attribute name="FieldLength" type="xsd:int"/>
			</xsd:complexType>
			<xsd:complexType name="DataRow">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="field" type="tns:DataField"/>
				</xsd:sequence>
			</xsd:complexType>
			<!--

   int WindowNo, int AD_Window_ID, int AD_Menu_ID, int TabNo, int PrevTabNo, int PrevRecNo, boolean getData, int RowStart, int RowCount)

-->
			<xsd:element name="ADLoginRequest" type="tns:ADLoginRequest"/>
			<xsd:element name="ADLoginResponse" type="tns:ADLoginResponse"/>
			<xsd:complexType name="ADLoginRequest">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string"/>
					<xsd:element name="pass" type="xsd:string"/>
					<xsd:element name="lang" type="xsd:string"/>
					<xsd:element name="ClientID" type="xsd:int"/>
					<xsd:element name="RoleID" type="xsd:int"/>
					<xsd:element name="OrgID" type="xsd:int"/>
					<xsd:element name="WarehouseID" type="xsd:int"/>
					<xsd:element name="stage" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ADLoginResponse">
				<xsd:sequence>
					<xsd:element name="status" type="xsd:int"/>
					<xsd:element name="roles" type="xsd:string"/>
					<xsd:element name="langs" type="xsd:string"/>
					<xsd:element name="orgs" type="xsd:string"/>
					<xsd:element name="clients" type="xsd:string"/>
					<xsd:element name="warehouses" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StandardResponse">
				<xsd:sequence>
					<xsd:element name="Error" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="IsError" type="xsd:boolean"/>
				<xsd:attribute name="RecordID" type="xsd:int"/>
			</xsd:complexType>
			<xsd:element name="Location" type="xsd:string"/>
			<xsd:element name="StandardResponse" type="tns:StandardResponse"/>
			<xsd:element name="ModelCRUDRequest" type="tns:ModelCRUDRequest"/>
			<xsd:complexType name="ModelCRUD">
				<xsd:sequence>
					<xsd:element name="serviceType" type="xsd:string"/>
					<xsd:element name="TableName" type="xsd:string"/>
					<xsd:element name="RecordID" type="xsd:int"/>
					<xsd:element name="Filter" type="xsd:string"/>
					<xsd:element name="Action">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Create"/>
								<xsd:enumeration value="Read"/>
								<xsd:enumeration value="Update"/>
								<xsd:enumeration value="Delete"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="DataRow" type="tns:DataRow"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ModelCRUDRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="ModelCRUD" type="tns:ModelCRUD"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="ADLoginRequest" type="tns:ADLoginRequest"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createDataRequest">
		<wsdl:part element="tns:ModelCRUDRequest" name="ModelCRUDRequest"/>
	</wsdl:message>
	<wsdl:message name="createDataResponse">
		<wsdl:part element="tns:StandardResponse" name="StandardResponse"/>
	</wsdl:message>
	<wsdl:portType name="ModelADServicePortType">
		<wsdl:operation name="createData">
			<wsdl:input message="tns:createDataRequest" name="createDataRequest"/>
			<wsdl:output message="tns:createDataResponse" name="createDataResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ModelADServiceHttpBinding" type="tns:ModelADServicePortType">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createData">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="createDataRequest">
				<wsdlsoap:body namespace="http://3e.pl/ADInterface" use="literal"/>
			</wsdl:input>
			<wsdl:output name="createDataResponse">
				<wsdlsoap:body namespace="http://3e.pl/ADInterface" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ModelADService">
		<wsdl:port binding="tns:ModelADServiceHttpBinding" name="ModelADServiceHttpPort">
			<wsdlsoap:address location="http://localhost:1509"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>