test/request-response-samples/GetNodes__complex_self_referencing/soap.wsdl

<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<s:element name="GetNodes">
				<s:complexType/>
			</s:element>
			<s:element name="GetNodesResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetNodesResult" type="tns:Node"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Node">
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="0" name="Name" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="0" name="Children" type="tns:ArrayOfNode"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfNode">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="Node" nillable="true" type="tns:Node"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetNodesSoapIn">
		<wsdl:part element="tns:GetNodes" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetNodesSoapOut">
		<wsdl:part element="tns:GetNodesResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="Service1Soap">
		<wsdl:operation name="GetNodes">
			<wsdl:input message="tns:GetNodesSoapIn"/>
			<wsdl:output message="tns:GetNodesSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Service1Soap" type="tns:Service1Soap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetNodes">
			<soap:operation soapAction="http://tempuri.org/GetNodes" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetNodes">
			<soap12:operation soapAction="http://tempuri.org/GetNodes" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service1">
		<wsdl:port binding="tns:Service1Soap" name="Service1Soap">
			<soap:address location="http://localhost:20400/Service1.asmx"/>
		</wsdl:port>
		<wsdl:port binding="tns:Service1Soap12" name="Service1Soap12">
			<soap12:address location="http://localhost:20400/Service1.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>