test/wsdl/types-with-schemas/wsdl_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://company.de/cake/synonymelisten/webservice" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://company.de/cake/synonymelisten/webservice" name="SynonymelistenService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://company.de/cake/synonymelisten/webservice" schemaLocation="./xsd_types1.xsd" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://company.de/cake/synonymelisten" schemaLocation="./xsd_types2.xsd" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://company.de/cake/synonymelisten/webservice/exceptions" schemaLocation="./xsd_error.xsd" />
    </xsd:schema>
  </types>
  <message name="AlleSynonymelistenOhneSynonymeLaden" />
  <message name="AlleSynonymelistenOhneSynonymeLadenResponse">
    <part name="AlleSynonymelistenOhneSynonymeLadenOutput" element="tns:AlleSynonymelistenOhneSynonymeLadenOutput" />
  </message>
  <message name="ServiceBusinessFault">
    <part xmlns:ns1="http://company.de/cake/synonymelisten/webservice/exceptions" name="fault" element="ns1:ServiceBusinessFaultData" />
  </message>
  <message name="ServiceTechnicalFault">
    <part xmlns:ns2="http://company.de/cake/synonymelisten/webservice/exceptions" name="fault" element="ns2:ServiceTechnicalFaultData" />
  </message>
  <message name="SynonymelisteLaden">
    <part name="SynonymelisteLadenInput" element="tns:SynonymelisteLadenInput" />
  </message>
  <message name="SynonymelisteLadenResponse">
    <part name="SynonymelisteLadenOutput" element="tns:SynonymelisteLadenOutput" />
  </message>
  <message name="SynonymelisteSpeichern">
    <part name="SynonymelisteSpeichernInput" element="tns:SynonymelisteSpeichernInput" />
  </message>
  <message name="SynonymelisteSpeichernResponse">
    <part name="SynonymelisteSpeichernOutput" element="tns:SynonymelisteSpeichernOutput" />
  </message>
  <message name="SynonymelistenLaden">
    <part name="SynonymelistenLadenInput" element="tns:SynonymelistenLadenInput" />
  </message>
  <message name="SynonymelistenLadenResponse">
    <part name="SynonymelistenLadenOutput" element="tns:SynonymelistenLadenOutput" />
  </message>
  <portType name="SynonymelistenServicePort">
    <operation name="AlleSynonymelistenOhneSynonymeLaden">
      <input wsam:Action="AlleSynonymelistenOhneSynonymeLaden" message="tns:AlleSynonymelistenOhneSynonymeLaden" />
      <output wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/AlleSynonymelistenOhneSynonymeLadenResponse" message="tns:AlleSynonymelistenOhneSynonymeLadenResponse" />
      <fault message="tns:ServiceBusinessFault" name="ServiceBusinessFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/AlleSynonymelistenOhneSynonymeLaden/Fault/ServiceBusinessFault" />
      <fault message="tns:ServiceTechnicalFault" name="ServiceTechnicalFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/AlleSynonymelistenOhneSynonymeLaden/Fault/ServiceTechnicalFault" />
    </operation>
    <operation name="SynonymelisteLaden">
      <input wsam:Action="SynonymelisteLaden" message="tns:SynonymelisteLaden" />
      <output wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelisteLadenResponse" message="tns:SynonymelisteLadenResponse" />
      <fault message="tns:ServiceBusinessFault" name="ServiceBusinessFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelisteLaden/Fault/ServiceBusinessFault" />
      <fault message="tns:ServiceTechnicalFault" name="ServiceTechnicalFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelisteLaden/Fault/ServiceTechnicalFault" />
    </operation>
    <operation name="SynonymelisteSpeichern">
      <input wsam:Action="SynonymelisteSpeichern" message="tns:SynonymelisteSpeichern" />
      <output wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelisteSpeichernResponse" message="tns:SynonymelisteSpeichernResponse" />
      <fault message="tns:ServiceBusinessFault" name="ServiceBusinessFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelisteSpeichern/Fault/ServiceBusinessFault" />
      <fault message="tns:ServiceTechnicalFault" name="ServiceTechnicalFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelisteSpeichern/Fault/ServiceTechnicalFault" />
    </operation>
    <operation name="SynonymelistenLaden">
      <input wsam:Action="SynonymelistenLaden" message="tns:SynonymelistenLaden" />
      <output wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelistenLadenResponse" message="tns:SynonymelistenLadenResponse" />
      <fault message="tns:ServiceBusinessFault" name="ServiceBusinessFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelistenLaden/Fault/ServiceBusinessFault" />
      <fault message="tns:ServiceTechnicalFault" name="ServiceTechnicalFault" wsam:Action="http://company.de/cake/synonymelisten/webservice/SynonymelistenServicePort/SynonymelistenLaden/Fault/ServiceTechnicalFault" />
    </operation>
  </portType>
  <binding name="SynonymelistenServiceStandardPortBinding" type="tns:SynonymelistenServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AlleSynonymelistenOhneSynonymeLaden">
      <soap:operation soapAction="AlleSynonymelistenOhneSynonymeLaden" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceBusinessFault">
        <soap:fault name="ServiceBusinessFault" use="literal" />
      </fault>
      <fault name="ServiceTechnicalFault">
        <soap:fault name="ServiceTechnicalFault" use="literal" />
      </fault>
    </operation>
    <operation name="SynonymelisteLaden">
      <soap:operation soapAction="SynonymelisteLaden" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceBusinessFault">
        <soap:fault name="ServiceBusinessFault" use="literal" />
      </fault>
      <fault name="ServiceTechnicalFault">
        <soap:fault name="ServiceTechnicalFault" use="literal" />
      </fault>
    </operation>
    <operation name="SynonymelisteSpeichern">
      <soap:operation soapAction="SynonymelisteSpeichern" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceBusinessFault">
        <soap:fault name="ServiceBusinessFault" use="literal" />
      </fault>
      <fault name="ServiceTechnicalFault">
        <soap:fault name="ServiceTechnicalFault" use="literal" />
      </fault>
    </operation>
    <operation name="SynonymelistenLaden">
      <soap:operation soapAction="SynonymelistenLaden" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceBusinessFault">
        <soap:fault name="ServiceBusinessFault" use="literal" />
      </fault>
      <fault name="ServiceTechnicalFault">
        <soap:fault name="ServiceTechnicalFault" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="SynonymelistenService">
    <port name="SynonymelistenServiceStandardPort" binding="tns:SynonymelistenServiceStandardPortBinding">
      <soap:address location="http://cake-bc-vm:8081/ALLAROUNDServices/synonymelistenservice" />
    </port>
  </service>
</definitions>
