test/wsdl/strict/stockquoterpc.wsdl

<?xml version="1.0"?>

<!-- rpc/literal example -->

<wsdl:definitions name="StockQuoteRPC"

                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://example.com/stockquoterpc.wsdl"
                  targetNamespace="http://example.com/stockquoterpc.wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
              targetNamespace="http://example.com/stockquoterpc.wsdl">


                <xsd:complexType name="setLastTradePriceRequestType">
                    <xsd:sequence>
                        <xsd:element name="tradePrice" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>

                <xsd:complexType name="setLastTradePriceResponseType">
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>

        </xsd:schema>
    </wsdl:types>


    <wsdl:message name="myRequest">
        <wsdl:part name="tradePrice"
              type="tns:setLastTradePriceRequestType"/>
    </wsdl:message>
    <wsdl:message name="myResponse">
        <wsdl:part name="result"
              type="tns:setLastTradePriceResponseType"/>
    </wsdl:message>

    <wsdl:portType name="StockQuoteUpdater">
        <wsdl:operation name="setLastTradePrice">
            <wsdl:input message="tns:myRequest"/>
            <wsdl:output message="tns:myResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="StockQuoteSoapBindingRPC" type="tns:StockQuoteUpdater">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="setLastTradePrice">
            <soap:operation soapAction="http://example.com/StockQuoteUpdater"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="StockQuoteServiceRPC">
        <wsdl:port name="StockQuotePortRPC" binding="tns:StockQuoteSoapBindingRPC">
            <soap:address location="http://localhost:15099/stockquoterpc"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>

